.green{
    background-color: #00AB66;
}

.blue{
    background-color: #6495ED;
}

.grey{
    background-color: #A8A8A8;
}

.wheat{
    background-color: wheat;
}

.yellow{
    background-color: goldenrod;
}

.red{
    background-color: #F08080;
}

.grid{
    margin-top: 10px;
    margin-left: 10px;   
   }